/*/////////////////FONTS/////////////////*/

@font-face {
	font-family: 'Nevis';
	src: url(../fonts/nevis.ttf);
}

@font-face {
	font-family: 'Neutra';
	src: url(../fonts/NeutraDisp-Medium.otf);
}

*{
	font-family: 'Nevis', Arial, sans-serif;
}

/*/////////////////LAYOUT/////////////////*/

html, body {
	background-color: #fff;
	margin:0;
	padding:0;
}

h1 {
	font-family: 'Nevis', Arial, sans-serif;
	font-size: 1.0em;
}

p {
	font-family: 'Neutra', Arial, sans-serif;
}

.col-34 {
	width: 34%;
	display: inline-block;
	vertical-align: top;
}

.col-66 {
	width: 66%;
	display: inline-block;
	vertical-align: top;
	background-color: #999999;
	height: 500px;
	float: right;
}

.col-34 p, .col-34 h1 {
	padding: 10px;
}

.col-66 p, .col-66 h1 {
	padding: 10px;
}

.screenshot-container {
	position: ;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.screenshot-25 {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin: 20px;
}

/*/////////////////HEADER/////////////////*/

.logo {
	background-image: url("../images/Cohort.PNG");
	background-repeat: no-repeat;
	height: 150px;
}

.navbar {
	width: 100%;
	height: 180px;
	background-color: #93c47d;
}

.navbar, .logo {
	padding-left: 20px;
	padding-top: 10px;
}

/*/////////////////NAVIGATION/////////////////*/

/*/////////////////FOOTER/////////////////*/

footer {

}


/*/////////////////RESPONSIVE/////////////////*/

/*@media only screen and (max-width: 900px ) {

}