<div class="col-34" id="menu-panel">
	<h1>Why, Hello <%= current_user.username %>. No surprise seeing you here, since you have an account.</h1>
	<p class="excellentorange"><strong>Here's all the good stuff ==></strong></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni repellat quo, sit modi nihil natus, reiciendis impedit aperiam commodi, quos similique id ullam quas ipsum quisquam a consequatur ut dolor?</p>
		
</div>
<script type="text/jsx" src="/assets/jsx/charSheet.jsx"></script>
<div class="col-66" id="view-panel">
	<h1>What the Heck is Cohort?</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni repellat quo, sit modi nihil natus, reiciendis impedit aperiam commodi, quos similique id ullam quas ipsum quisquam a consequatur ut dolor? </p>
	<ul>
		<li>Open source Dungeon Master's companion app for Pathfinder (for now, more version compatibility to come</li>
		<li>NO AFFILIATION WITH Pathfinder or Wizards or any of that (don't sue us, we're just big ol fans!)</li>
		<li>Currently under devleopment, rolling out new features as fast as we can</li>
	</ul>
	<p>Thanks for checking us out!</p>

	<div class="screenshot-container">

		<div class="screenshot-25">
			<h2><a href="#">Create Campaign</a></h2>
			<img src="#"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="screenshot-25">
			<h2><a href="#">Character Sheets</a></h2>
			<img src="#"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="screenshot-25">
			<h2><a href="#">DM Interface</a></h2>
			<img src="#"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	</div><!--screenshot-container-->
</div><!--col-66-->

<!--FOOTER-->
<footer>
<p><span class="excellentoran