/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*/////////////////FONTS & COLORS/////////////////*/

@font-face {
	font-family: 'Nevis';
	src: url('fonts/nevis.ttf');
}

@font-face {
	font-family: 'Neutra';
	src: url('fonts/NeutraDisp-Medium.otf');
}

*{
	font-family: 'Nevis', Arial, sans-serif;
}

.excellentorange {
	color: #fd6b22; /*a most excellent orange*/
}

/*/////////////////HEADER/////////////////*/

.logo {
	background-image: url("images/Cohort.PNG");
	background-repeat: no-repeat;
	height: 150px;
}

.internal-logo {
	background-image: url("images/Cohort.PNG");
	background-repeat: no-repeat;
	height: 150px;
}

/*/////////////////LINKS/////////////////*/

/* unvisited link */
a {
	color: #000;
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: #000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #fd6b22; /*a most excellent orange*/
    background-color: transparent;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #93c47d; /*ooky green*/
    text-decoration: none;
}

/*/////////////////HOME NAVIGATION/////////////////*/
.navbar {
	width: auto;
	height: 180px;
	background-color: #93c47d; /*ooky green*/
}

.navbar, .logo {
	padding-left: 20px;
	padding-top: 10px;
}

menu {
	display:inline;
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 0.65em;
}

/*/////////////////INTERNAL NAVIGATION/////////////////*/
/*this section is basically garbage until we figure out how to deal with internal pages*/
.internal-navbar {
	width: auto;
	height: 70px;
	background-color: #93c47d; /*ooky green*/
}

.internal-navbar, .internal-logo {
	padding-left: 20px;
	padding-top: 10px;
}

.internal-menutabs {
	display: inline-block;
	position: absolute;
	height: 80px;
	width: 150px;
	top: 0;
	background-color: orange;
}
/*end garbage*/
/*/////////////////LAYOUT/////////////////*/

html, body {
	background-color: #fff;
	margin:0;
	padding:0;
}

h1 {
	font-family: 'Nevis', Arial, sans-serif;
	font-size: 1.0em;
}

h2 {
	font-family: 'Nevis', Arial, sans-serif;
	font-size: 0.75em;
}

p {
	font-family: 'Neutra', Arial, sans-serif;
}

.col-34 {
	width: 34%;
	display: inline-block;
	vertical-align: top;
}

.col-66 {
	width: 66%;
	display: inline-block;
	vertical-align: top;
	background-color: #999999;
	height: 500px;
	float: right;
}

.col-34 p, .col-34 h1 {
	padding: 10px;
}

.col-66 p, .col-66 h1 {
	padding: 10px;
}

.screenshot-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 50px;
}

.screenshot-25 {
	width: 25%;
	display: inline-block;
	background-color: #fff;
	vertical-align: top;
	margin-left: 3%;
	margin-right: 3%;
	padding: 5px;
	box-shadow: 3px 3px 2px #282828;
}

.screenshot-25 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.screenshot-25 h2 {
	text-align: center;
}

ul li {
	font-family: 'Neutra', Arial, sans-serif;
	font-size: 0.8em;
	padding-bottom: 10px;
}

/*/////////////////FOOTER/////////////////*/

footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	background-color: #68868c; /*weird teal*/
}

footer p {
	text-align: center;
	font-size: 0.85em;
	color: #fff;
}

/*/////////////////BUTTONS/////////////////*/
.button1 {
	display: block;
	background-color: #93c47d; /*ooky green*/
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	border: 0;
	font-size: 1.2em;
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.button1:hover {
    background-color: #93c47d; /*ooky green*/
}

.button2 {
	display: block;
	background-color: #68868c; /*weird teal*/
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	border: 0;
	font-size: 1.2em;
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.button2:hover {
    background-color: #68868c; /*weird teal*/
}

/*/////////////////FORMS & FIELDS/////////////////*/
.field {
	margin-left: 20px;
	font-family: 'Neutra', Arial, sans-serif;
	font-size: 0.75em;
	padding: 10px;
}

.actions {
	margin-left: 20px;
	font-family: 'Neutra', Arial, sans-serif;
	font-size: 0.75em;
	padding: 10px;
}

.links {
	margin: 20px;
	font-family: 'Neutra', Arial, sans-serif;
	font-size: 0.75em;
	padding: 10px;
}

/*/////////////////RESPONSIVE/////////////////*/

/*@media only screen and (max-width: 900px ) {

}*/